.vscode/
/vendor/

/docker-compose.yaml
/Dockerfile

/log/
*.log
*.php.log

/.env

*~

/phpunit.xml

/config/database.php

/vendor/autoload.php
/vendor/composer/

/apache.conf

/xdebug.ini

/public/assets/*.css
/public/assets/*.js

/composer.lock
